.playlist-container {
  padding: 16px 0 16px 0;
  margin: 10px;
  border-radius: 10px;
  background-color: #121212;
  max-width: 80vw;
  margin-left: 330px;
  margin-right: 15px;
}

.playlist {
  margin: 24px;
}

.playlist #greeting {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
}

.playlist .session {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.offer__scroll-container {
  max-height: 43vh;
  margin: 24px;
  overflow-y: auto;
}

.offer__scroll-containerAll {
  max-height: 50vh;
  margin: 24px;
  overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
  width: 1px;
}

.offer__scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.offer__scroll-containerAll::-webkit-scrollbar {
  width: 1px;
}

.offer__scroll-containerAll::-webkit-scrollbar-thumb {
  background-color: transparent;
}
/* FIM SCROLL */

.offer__list-item {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  gap: 16px;
  margin-bottom: 16px;
  display: grid;
  gap: 16px;
  grid-gap: 32px;
  margin: 0 auto;
}

.offer__list-item img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 107px;
  transform: rotate(25deg) translate(18%, -2%);
}

#result-artist {
  padding: 20px 40px;
}

.grid-container {
  grid-gap:24px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  min-width: 767px;
}

@media (max-width: 1024px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    min-width: 500px;
  }
}

@media (max-width: 768px) {
  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }
  .playlist-container {
    width: 74vw;
  }
  .offer__scroll-container {
    max-height: 65vh;
    margin: 12px;
  }
  .offer__scroll-containerAll {
    padding: 5px 0 5px 0;
    max-height: 75vh;
    margin: 12px;
    overflow-y: auto;
  }
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    min-width: 450px;
  }
}

